[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
ipython = "*"
jupyter = "*"
numpy = "*"
cvxpy = "*"
pep8 = "*"
pycodestyle = "*"
cvxopt = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
